#essence-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  padding-top: 5rem;
}

#company-subheading {
  margin-top: 1rem;
}

section#description {
  display: flex;
  padding-top: 2.5rem;
}

a {
  text-decoration: none;
  color: black;
}

#essence-text {
  width: 1000px;
  margin-right: 2rem;
}

#essence-description {
  :nth-child(odd) {
    padding: 1rem;
  }

  :nth-child(1) {
    padding: 0 1rem 1rem 1rem;
  }

  :nth-child(even) {
    padding: 1rem;
  }
}

.essence-indication::first-letter,
.essence-effect::first-letter {
  text-transform: capitalize;
}

#essence-main-img {
  height: 400px;
  width: 400px;
  // margin: 0;
}

img#essence-img {
  max-width: 400px;
  max-height: 500px;
  margin: auto;

  &[src^='/images/WEAE/Combinations'] {
    max-height: 370px;
  }
}

section#indications-effects,
section#chakrasMeridians,
section#gallery,
section#essence-keywords {
  display: none;
  padding-top: 2rem;
}

section#indications-effects {
  justify-content: space-around;

  section {
    width: 45%;
  }
}

section#chakrasMeridians {
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 2rem;
}

section#chakras,
section#secondaryChakras {
  background-color: lighten(lightgreen, 15%);
}

section#meridians,
section#secondaryMeridians {
  background-color: lighten(purple, 65%);
}

section#meridians,
section#secondaryMeridians,
section#chakras,
section#secondaryChakras {
  width: 600px;
  ul {
    columns: 2;
    padding-top: 1rem;
  }
}

img.icon {
  width: 25px;
  margin-left: 1rem;
}

.chakra,
.meridian {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  li {
    text-transform: capitalize;
    list-style: none;
    margin-left: 1rem;
    line-height: 19px;
  }
}

section#essence-keywords {
  width: 70%;
  margin: auto;

  ul {
    list-style: none;
    columns: 2;
  }

  li {
    text-transform: capitalize;
  }
}

.reference-link {
  transition: font-weight 0.3s;
}
.reference-link:hover {
  font-weight: bolder;
}

// Media queries
@media (max-width: 1800px) {
  section#chakrasMeridians {
    grid-template-columns: repeat(1, auto);
  }

  section#meridians,
  section#secondaryMeridians,
  section#chakras,
  section#secondaryChakras {
    max-width: 600px;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  #essence-indications-list,
  #essence-effects-list {
    padding-left: 1rem;
  }
}

@media (max-width: 1024px) {
  #essence-text {
    width: initial;
  }

  #essence-main-img {
    margin: auto;
    width: initial;
    height: initial;
    max-height: 500px;
    margin-bottom: 2rem;
  }

  img#essence-img {
    max-width: 300px;
    max-height: 500px;
  }

  section#description {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }

  section#indications-effects {
    flex-direction: column;
    align-items: center;

    section {
      width: 80%;
    }

    section#essence-indications {
      margin-bottom: 2rem;
    }
  }
}

// Media queries
@media (max-width: 700px) {
  section#meridians,
  section#secondaryMeridians,
  section#chakras,
  section#secondaryChakras {
    width: 80%;
    ul {
      columns: 1;
      padding-top: 1rem;
    }
  }
}

@media (max-width: 550px) {
  section#essence-keywords {
    width: 90%;
  }
}

@media (max-width: 414px) {
  #essence-text {
    width: 100%;
    font-size: 0.9rem;

    .br-10 {
      border-radius: 0;
    }

    .mt-1 {
      margin-top: 0;
    }
  }

  section#description {
    padding-bottom: 0;

    p {
      width: 85%;
      margin: auto;
    }
  }

  section#chakrasMeridians {
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 0;
  }

  section#meridians,
  section#secondaryMeridians,
  section#chakras,
  section#secondaryChakras {
    width: 100%;
    border-radius: 0;
  }

  section#chakras,
  section#secondaryChakras {
    border-bottom: 2px solid lighten(lightgreen, 10%);
  }

  section#meridians {
    border-bottom: 2px solid lighten(purple, 60%);
  }

  #essence-indications-list,
  #essence-effects-list {
    padding-left: 0;
  }

  section#essence-keywords {
    width: 100%;

    .br-10 {
      border-radius: 0;
    }
    ul {
      columns: 1;
    }
  }
}
