#reference-heading {
  font-weight: 400;
  font-size: 2.5rem;
  padding-top: 5rem;
  margin-bottom: 3rem;
}

ul#references {
  list-style: none;

  li.reference {
    padding-bottom: 2rem;

    &:nth-child(odd) {
      // background-color: var(--light-secondary);
      border-bottom: 2px solid var(--light-secondary);
    }

    &:nth-child(even) {
      border-bottom: 2px solid var(--light-secondary);
      // background-color: var(--primary);
    }
  }
}

.essence-links {
  display: flex;
  flex-direction: row;
  // align-items: center;
  flex-wrap: wrap;
}

p.essence {
  margin-right: 2rem;
}

h4.indication {
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-weight: 600;
}

h4.indication::first-letter {
  text-transform: capitalize;
}

section#related {
  padding-bottom: 2rem;
  text-align: center;

  ul {
    list-style: none;
  }
}

@media (max-width: 800px) {
  h1#reference-heading {
    font-size: 2rem;
    margin-bottom: 0;
    padding-top: 3rem;
  }

  h4.indication {
    font-size: 1rem;
  }
}

@media (max-width: 414px) {
  h1#reference-heading {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
  }

  h4.indication {
    width: 85%;
    margin: 0 auto 1rem auto;
    font-size: 0.9rem;
  }

  p.essence a {
    font-size: 0.8rem;
  }
}
