#vine-underline-container {
  width: 250px;
  margin: auto;
}

// svg#vine-underline {
//   width: 250px;
//   height: 100px;
//   margin: auto;
// }
svg#vine-underline {
  width: 250px;
  height: 100px;
  margin: auto;
}

.st0 {
  fill: #73be1e;
}
